
.navbar-brand.logo {
    color: #79aec8;
    font-size: 44px;
}

nav .sign {
    float: right;
}

nav .user {
    color: white;
}

.nav-item {
    font-size: 22px;
    font-width: bold;
}

.card-img-top {
    width: max-content;
    height: max-content;
    position: center;
}

footer {
    width: 100%;
    height: 120px;
    background-color: rgba(0, 0, 0, 0.9);
    position: absolute;
    bottom: 0;
    left: 0;
}

footer .container-blocks {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
}

.row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    width: 100px;
    height: 500px;
    margin-left: 20px;
}